<div class="card text-bg-dark">
    
    <div class="slideshow">
        
        <img src="~/Images/Kapak.jpeg" class="card-img" />
        <img src="~/Images/Banner.jpeg" class="card-img" />
        <img src="~/Images/pexels-garvin-st-villier-14277568.jpg" class="card-img" />
        <img src="~/Images/Banner5.jpeg" class="card-img" />
        <img src="~/Images/Banner2.jpeg" class="card-img" />
        <img src="~/Images/Banner3.jpeg" class="card-img" />
        <img src="~/Images/relax.jpeg" class="card-img" />
    </div>

    <div class="card-img-overlay text-center">
        <p style="color:#F4B202; font-weight:bold; font-size:2rem; text-shadow: 1px 1px; font-style:italic;">İhtiyacınız olan araçlar tam olarak burada</p>
    </div>

</div>
